<section class="category-section category-section-home">
  <div class="container container-5px">
    <h3 class="decorated-heading">
      <span>Explore Dining</span>
      <a href="/products" class="btn btn-view-all pull-right">View All Products</a>
    </h3>
    <div class="row p-t-30 row-5px flex-product-row">
      {{#each products}}
        <div class="col-md-3 text-center col-5px single-product">
          <div class="product-container">
            <img src={{#productImageUrl image_ids ../images}}{{body}}{{/productImageUrl}} class="img-full">
            <h3 class="product-name">{{name}}</h3>
            <h4 class="product-price">${{price}}</h4>
            <div class="product-container-inner">
              <a href={{#productUrl id}}{{body}}{{/productUrl}} class="btn btn-cart">View Details</a>
              <div class="product-options text-center">
                <a href="javascript:void(0);">
                  <i class="material-icons">favorite</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="category-section-all">
  <div class="container">
    <h3 class="decorated-heading text-center">
      <span>Shop By Category</span>
    </h3>

    <div class="row p-t-50 category-items">
      <div class="col-md-6 category-item">
        <a href="#">
          <span class="category-name">Decor</span>
          <img src="images/category_10.jpg" alt="" class="img-full">
        </a>
      </div>
      <div class="col-md-6 category-item">
        <div class="row">
          <div class="col-md-6">
            <a href="#">
              <span class="category-name">Wall Decor</span>
              <img src="images/category_11.jpg" alt="" class="img-full">
            </a>
          </div>
          <div class="col-md-6 category-item">
            <a href="">
              <span class="category-name">Jars</span>
              <img src="images/category_03.jpg" alt="" class="img-full">
            </a>
          </div>
        </div>
        <div class="row p-t-30">
          <div class="col-md-6 category-item">
            <a href="#">
              <span class="category-name">Bed Covers</span>
              <img src="images/category_9.jpg" alt="" class="img-full">  
            </a>
          </div>
          <div class="col-md-6 category-item">
            <a href="#">
              <span class="category-name">Furniture</span>
              <img src="images/category_8.jpg" alt="" class="img-full">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="category-section category-section-home">
  <div class="container container-5px">
    <h3 class="decorated-heading">
      <span>Explore Wall Decor</span>
      <a href="javascript:void(0);" class="btn btn-view-all pull-right">View all products</a>
    </h3>
    <div class="row p-t-30 row-5px flex-product-row">
      {{#each products}}
        <div class="col-md-3 text-center col-5px single-product">
          <div class="product-container">
            <img src={{#productImageUrl image_ids ../images}}{{body}}{{/productImageUrl}} class="img-full">
            <h3 class="product-name">{{name}}</h3>
            <h4 class="product-price">${{price}}</h4>
            <div class="product-container-inner">
              <a href={{#productUrl id}}{{body}}{{/productUrl}} class="btn btn-cart">View Details</a>
              <div class="product-options text-center">
                <a href="javascript:void(0);">
                  <i class="material-icons">favorite</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
